.header {
    background-image: url(http://i.investopedia.com/dimages/graphics/thinkstockphotos-169262425_1.jpg?quality=80&width=680&height=680);
    height:350px;
    width: 100%;
    background-position: center center;
}
h1 {
     color: rgba(255, 255, 255, 0.6);
  font-family: 'Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 32%;
}
 
body {
    text-align: center;
    font-family: times;
}
p {
    text-align: center;
    margin: auto
}
h2, h3, h4, h5 {
    text-align: center;
    font-size: 50px;
}
p {
    font-size: 20px;
    margin: 100px 100px;
    vertical-align: middle;
    text-align: center;
}
body {
    background-color: rgba(238, 199, 113, 0.9)
}
ul {
    width: 70%;
    text-align: center;
    margin-left: 13%;
}
li {
    border-bottom: 2px solid;
    border-bottom-color: rgb(0, 0, 0);
    margin: 100px 100px;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 60px;
    list-style: none;
    
}

   